<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"   
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">
     <h:head>
<!--      	<f:metadata>
		<f:event listener="#{mbAccount.deconnexion()}" type="preRenderView"></f:event>
	</f:metadata> -->
     <title>
     Page connexion Nomads
     </title>
     <style>
     .Bimage{background-image: url("resources/pics/zen.jpg");background-repeat: no-repeat;background-size: cover;}
     </style>
     <script src="https://kit.fontawesome.com/d291cdd1e3.js" crossorigin="anonymous"></script>
     

     
     
     </h:head>
    <h:body styleClass="Bimage">
	<h:outputStylesheet library="CSS" name="loginstyle.css" />

 

	<h:form>
		<!-- <h:messages style="color:red;margin:8px;" /><br />
							<h:message for="login" style="color:red" />
							<h:message for="password" style="color:red" /> -->
		<h:panelGrid styleClass="panel" columns="2" cellpadding="5"
			cellspacing="1">
			<f:facet name="header"><h1>Connexion Nomads</h1></f:facet>
			<span><i class="fa fa-user fa-2x"></i></span> Login:	
					<h:inputText value="#{mbAccount.login}" />	
								<span><i class="fa fa-key fa-2x"></i></span> Password:
					<h:inputSecret value="#{mbAccount.password}" />	
			<h:outputText styleClass="login" id="login" size="5" required="true" label="login"></h:outputText>
<!-- 				 <f:validateLength minimum="4" maximum="8" /> -->	
			<h:outputText styleClass="password" id="password" size="5"	required="true" label="password">
				<!-- <f:validateLongRange for="password" minimum="1" maximum="20" /> -->
			</h:outputText>
			<f:facet name="footer">
				<h:panelGroup style="display:block; text-align:center">
					<h:commandButton styleClass="btnEnvoyer" id="submit" value="Entrer"
						action="#{mbAccount.connexion()}" />
				</h:panelGroup>
			</f:facet>
		</h:panelGrid>
	</h:form>
</h:body>
</html>