<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui" xmlns:b="http://bootsfaces.net/ui">

<ui:composition template="#{mbAccount.template}">
	<ui:define name="title">Consulter masseur</ui:define>
	<ui:define name="CSS"><h:outputStylesheet name="#{mbAccount.cssSheet}"></h:outputStylesheet></ui:define>
	<ui:define name="naving">
				<b:form rendered="#{mbAccount.utilisateur.role == 'Masseur'}">
					<b:breadcrumbs>
						<b:navLink icon="home" iconAlign="left" value="Home" href="/AppNomadsWeb/masseur/DashbordMasseur.xhtml"></b:navLink>
						<b:navLink icon="business" iconAlign="left" value="Location Matériels" href="/AppNomadsWeb/prestation/LocationMateriel.xhtml"></b:navLink>
						<b:navLink icon="euro" iconAlign="left" value="Achat Mads" href="/AppNomadsWeb/masseur/AchatMads.xhtml"></b:navLink>
					</b:breadcrumbs>
				</b:form>
	</ui:define>
	<ui:define name="content_page">
		<div class="listePartenaire">
			<h1>Achat de Mads</h1>
				<h:form>
					<b:row styleClass="show-grid">
						<b:column col-xs="6" col-sm="4" col-md="4">
								<div class="ui-inputgroup">
									<span> <b:label for="@next" value="Quantité de packs" /> <b:inputText
											id="quantite" value="#{mbMads.quantite}" />
									</span>
								</div>
						</b:column>
						<b:column col-xs="6" col-sm="4" col-md="4">
							<div class="ui-inputgroup">
								<span> <b:label for="@next" value="Type packs" /> 
										<b:selectOneMenu
										id="typePack" value="#{mbMads.selectedPack}" 
										converter="omnifaces.SelectItemsConverter" style="width:300px">
										<f:selectItem itemLabel="Choisir le pack" itemValue=""
											noSelectionOption="true" />
										<f:selectItems value="#{mbMads.listePack}"
											var="pack" itemLabel="#{pack.libelle}" itemValue="#{pack}" />
									</b:selectOneMenu>
								</span>
							</div>
					</b:column>
					</b:row>
					<b:row styleClass="show-grid">
						<b:column col-xs="6" col-sm="4" col-md="4">
								<div class="ui-inputgroup">
								</div>
						</b:column>
						<b:column col-xs="6" col-sm="4" col-md="4">
							<h:dataTable value="#{mbMads.listePack}" var="pack" cellspacing="2px">
								<h:column>#{pack.libelle}   </h:column>
								<h:column>  #{pack.prix} €</h:column>
							</h:dataTable>
						</b:column>	
						</b:row>
						<b:row>
							<b:column col-xs="6" col-sm="6" col-md="4" offset="6">
								<b:commandButton value="Payer" icon="pi pi-user-plus"
									style="margin-right:20px;"
									action="#{mbMads.creerTransaction()}" />
							</b:column>
						</b:row>
						<b:row>
							<p >Votre solde actuel de mads est de  : #{mbMads.solde}</p>
						</b:row>
						<b:row>
							<br/>
							<br/>
							<b:alert severity="success"><strong> 
							 Achat effectué !</strong> 
							
							<p >Votre nouveau solde de mads est de  : #{mbMads.solde}</p> </b:alert>
						</b:row>
				</h:form>
		</div>
	</ui:define>
</ui:composition>
</html>

