<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:o="http://omnifaces.org/ui"
      xmlns:p="http://primefaces.org/ui"> 
<h:body rendered="#{mbAccount.utilisateur.role != 'Partenaire'}">
<ui:composition template="#{mbAccount.template}">
	<ui:define name="title">Consulter masseur</ui:define>
	<ui:define name="CSS"><h:outputStylesheet name="#{mbAccount.cssSheet}"></h:outputStylesheet></ui:define>
	<ui:define name="naving">
				<b:form rendered="#{mbAccount.utilisateur.role == 'Admin'}">
					<b:breadcrumbs>
						<b:navLink icon="home" iconAlign="left" value="Home" href="/AppNomadsWeb/admin/DashbordAdmin.xhtml"></b:navLink>
						<b:navLink icon="list" iconAlign="left" value="Liste des Masseurs" href="/AppNomadsWeb/masseur/ListeMasseurs.xhtml"></b:navLink>
						<b:navLink icon="plus" iconAlign="left" value="Création d'un Masseur" href="/AppNomadsWeb/masseur/CreationMasseur.xhtml"></b:navLink>
					</b:breadcrumbs>
				</b:form>
				<b:form rendered="#{mbAccount.utilisateur.role == 'Masseur'}">
					<b:breadcrumbs>
						<b:navLink icon="home" iconAlign="left" value="Home" href="/AppNomadsWeb/masseur/DashbordMasseur.xhtml"></b:navLink>
						<b:navLink icon="ball" value="Location Matériels" href="/AppNomadsWeb/prestation/LocationMateriel.xhtml"></b:navLink>
						<b:navLink icon="euro" value="Achat Mads" href="/AppNomadsWeb/masseur/AchatMads.xhtml"></b:navLink>
					</b:breadcrumbs>
				</b:form>
	</ui:define>
	<ui:define name="content_page">
		<b:form>
		<h1>Profil Masseur</h1>
			<b:row>
				<b:container>
					<b:column col-xs="12" col-md="4">
						<div class="bloc1">
							<ui:include src="/_partial/_masseur/bloc1.xhtml" />
						</div>
					</b:column>
					<b:column col-xs="12" col-md="8">
						<div class="onglets">
							<ui:include src="/_partial/_masseur/onglets.xhtml" />
						</div>
					</b:column>
				</b:container>
			</b:row>
			<b:row>
				<div class="listePrestation">
						<ui:include src="/_partial/_masseur/listePrestations.xhtml" />
					</div>
			</b:row>
			<b:row>
				<div class="boutons">
					<ui:include src="/_partial/_masseur/boutons.xhtml" />
				</div>
			</b:row>
			<b:modal id="amodal" title="Modal Example" styleClass="modalPseudoClass" rendered="#{mbAccount.utilisateur.role == 'Admin'}">
				<p>Etes vous sur de vouloir désactiver le masseur ?</p>

				<f:facet name="footer">
					<b:button value="Non" dismiss="modal" />
					<b:button value="Oui" look="danger" dismiss="modal" />
				</f:facet>
			</b:modal>
		</b:form>
	</ui:define>	
</ui:composition>
</h:body>		

</html>
