<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:b="http://bootsfaces.net/ui" xmlns:p="http://primefaces.org/ui">

<h:body rendered="#{mbAccount.utilisateur.role == 'Admin'}">
<ui:composition template="#{mbAccount.template}">
	<ui:define name="title">Création masseur</ui:define>
	<ui:define name="CSS">
		<style type="text/css">
			body .ui-staticmessage.ui-message {
				width: 100%;
			}
		</style>
	</ui:define>
	<ui:define name="naving">
				<b:form>
					<b:breadcrumbs>
						<b:navLink icon="home" iconAlign="left" value="Home" href="/AppNomadsWeb/admin/DashbordAdmin.xhtml"></b:navLink>
						<b:navLink icon="list" iconAlign="left" value="Liste des Masseurs" href="/AppNomadsWeb/masseur/ListeMasseurs.xhtml"></b:navLink>
						<b:navLink icon="plus" iconAlign="left" value="Création d'un Masseur" href="/AppNomadsWeb/masseur/CreationMasseur.xhtml"></b:navLink>
					</b:breadcrumbs>
				</b:form>
	</ui:define>
	<ui:define name="content_page">
		<h1>Création d'un nouveau masseur</h1>
		<b:form>
			<b:row styleClass="show-grid">
				<b:column col-xs="6" col-sm="4" col-md="4">
					<div class="ui-inputgroup">
						<span> <b:label for="@next" value="Genre" /> <b:selectOneMenu
								id="genre" value="#{mbCreationMasseur.masseur.genreEntity}"
								converter="omnifaces.SelectItemsConverter" style="width:150px">
								<f:selectItem itemLabel="Choisir genre" itemValue=""
									noSelectionOption="true" />
								<f:selectItems value="#{mbCreationMasseur.listeGenre}"
									var="genre" itemLabel="#{genre.libelle}" itemValue="#{genre}" />
							</b:selectOneMenu>
						</span>
					</div>
				</b:column>
			</b:row>
			<b:row styleClass="show-grid">
				<b:column col-xs="6" col-sm="4" col-md="4">
					<div class="ui-inputgroup">
						<span> <b:label for="@next" value="Prénom" /> <b:inputText
								id="float-prenom" value="#{mbCreationMasseur.masseur.prenom}" />
						</span>
					</div>
				</b:column>
				<b:column col-xs="6" col-sm="4" col-md="4">
					<div class="ui-inputgroup">
						<span> <b:label for="@next" value="Nom" /> <b:inputText
								id="float-nom" value="#{mbCreationMasseur.masseur.nom}"
								onchange="creerIdentifiants()" />
						</span>
					</div>
				</b:column>
				<b:column col-xs="6" col-sm="4" col-md="4">
					<div class="ui-inputgroup">
						<span> <b:label for="@next" value="Date de naissance" /> <b:inputText
								id="date-de-naissance"
								value="#{mbCreationMasseur.dateDeNaissance}" showIcon="true"
								type="date" pattern="dd/MM/yyyy" />

						</span>
					</div>
				</b:column>
			</b:row>
			<b:row styleClass="show-grid">
				<b:column col-xs="6" col-sm="4" col-md="4">
					<div class="ui-inputgroup">
						<span> <b:label for="@next" value="Raison Sociale" /> <b:inputText
								id="float-raison-sociale"
								value="#{mbCreationMasseur.masseur.raisonSociale}" />
						</span>
					</div>
				</b:column>
				<b:column col-xs="6" col-sm="4" col-md="4">
					<div class="ui-inputgroup">
						<span> <b:label for="@next" value="SIRET" /> <b:inputText
								id="float-siret" value="#{mbCreationMasseur.masseur.siret}" />
						</span>
					</div>
				</b:column>
			</b:row>
			<b:row styleClass="show-grid">
				<b:column col-xs="6" col-sm="4" col-md="4">
					<div class="ui-inputgroup">
						<span> <b:label for="@next" value="Code IBAN" /> <b:inputText
								id="float-iban" value="#{mbCreationMasseur.masseur.codeIBAN}" />
						</span>
					</div>
				</b:column>
				<b:column col-xs="6" col-sm="4" col-md="4">
					<div class="ui-inputgroup">
						<span> <b:label for="@next" value="Code BIC" /> <b:inputText
								id="float-bic" value="#{mbCreationMasseur.masseur.codeBIC}" />
						</span>
					</div>
				</b:column>
			</b:row>
			<b:row styleClass="show-grid">
				<b:column col-xs="6" col-sm="4" col-md="4">
					<div class="ui-inputgroup">
						<span> <b:label for="@next" value="Téléphone 1" /> <b:inputText
								id="float-tel-principal"
								value="#{mbCreationMasseur.masseur.telPrincipal}" />
						</span>
					</div>
				</b:column>
				<b:column col-xs="6" col-sm="4" col-md="4">
					<div class="ui-inputgroup">
						<span> <b:label for="@next" value="Téléphone 2" /> <b:inputText
								id="float-tel-secondaire"
								value="#{mbCreationMasseur.masseur.telSecondaire}" />
						</span>
					</div>
				</b:column>
				<b:column col-xs="6" col-sm="4" col-md="4">
					<div class="ui-inputgroup">
						<span> <b:label for="@next" value="E-mail" /> <b:inputText
								id="float-email"
								value="#{mbCreationMasseur.masseur.adresseMail}" />
						</span>
					</div>
				</b:column>
			</b:row>
			<b:row styleClass="show-grid">
				<b:column col-xs="6" col-sm="4" col-md="4">
					<div class="ui-inputgroup">
						<span> <b:label for="@next" value="Adresse 1" /> <b:inputText
								id="float-adresse1"
								value="#{mbCreationMasseur.adresseEntity.adresse}" />
						</span>
					</div>
				</b:column>
				<b:column col-xs="6" col-sm="4" col-md="4">
					<div class="ui-inputgroup">
						<span> <b:label for="@next" value="Adresse 2" /> <b:inputText
								id="float-adresse2"
								value="#{mbCreationMasseur.adresseEntity.complementAdresse}" />
						</span>
					</div>
				</b:column>
			</b:row>
			<b:row styleClass="show-grid">
				<b:column col-xs="6" col-sm="4" col-md="4">
					<div class="ui-inputgroup">
						<span> <b:label for="@next" value="Code Postal" /> <b:inputText
								id="float-cp"
								value="#{mbCreationMasseur.adresseEntity.codePostal}" />
						</span>
					</div>
				</b:column>
				<b:column col-xs="6" col-sm="4" col-md="4">
					<div class="ui-inputgroup">
						<span> <b:label for="@next" value="Ville" /> <b:inputText
								id="float-ville"
								value="#{mbCreationMasseur.adresseEntity.ville}" />
						</span>
					</div>
				</b:column>
			</b:row>
			<b:column col-xs="6" col-sm="6" col-md="4" offset="6">
				<b:commandButton value="Ajouter" icon="pi pi-user-plus"
					style="margin-right:20px;"
					action="#{mbCreationMasseur.AjouterMasseur()}" />
			</b:column>
			<b:row>
				<b:alert severity="success"><strong>Masseur crée avec succés!</strong> Login et Mot de passe temporaires : <p value="#{mbCreationMasseur.masseur.prenom}"></p> </b:alert>
			</b:row>
		</b:form>
	</ui:define>
</ui:composition>
</h:body>
</html>
