<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:b="http://bootsfaces.net/ui" xmlns:p="http://primefaces.org/ui">

<h:body rendered="#{mbAccount.utilisateur.role == 'Masseur'}">
	<ui:composition template="#{mbAccount.template}">
		<ui:define name="title">Feedback masseur</ui:define>
		<ui:define name="CSS">
			<style type="text/css">
body .ui-staticmessage.ui-message {
	width: 100%;
}
</style>
		</ui:define>
		<ui:define name="naving">
			<b:form>
				<b:breadcrumbs>
					<b:navLink icon="home" iconAlign="left" value="Home"
						href="/AppNomadsWeb/masseur/DashbordMasseur.xhtml"></b:navLink>
					<b:navLink value="Location Matériels"
						href="/AppNomadsWeb/prestation/LocationMateriel.xhtml"></b:navLink>
					<b:navLink value="Achat Mads"
						href="/AppNomadsWeb/masseur/AchatMads.xhtml"></b:navLink>
					<b:navLink value="Feedback Masseur"
						href="/AppNomadsWeb/masseur/FeedbackMasseur.xhtml"></b:navLink>

				</b:breadcrumbs>
			</b:form>
		</ui:define>
		<ui:define name="content_page">
			<h1>Feedback d'un masseur</h1>
			<b:form>
				<b:row styleClass="show-grid">
					<b:column col-xs="6" col-sm="4" col-md="4">
						<div class="ui-inputgroup">
							<h2>#{mbFeedbackMasseur.selectedPrestation.libelle}</h2>

						</div>
					</b:column>
				</b:row>
				<b:row styleClass="show-grid">
					<b:column col-xs="6" col-sm="4" col-md="4">
						<div class="ui-inputgroup">
							<span> <b:label for="@next" value="Chiffre d'affaire" />
								<b:inputText id="float-chiffreAffaire" type="number"
									value="#{mbFeedbackMasseur.feedbackMasseur.chiffreDaffaire}" />
							</span>
						</div>
					</b:column>
				</b:row>
				<b:row styleClass="show-grid">
					<b:column col-xs="6" col-sm="4" col-md="4">
						<div class="ui-inputgroup">
							<span> <b:label for="@next" value="Commentaire" /> <b:inputText
									id="float-commentaire"
									value="#{mbFeedbackMasseur.feedbackMasseur.commentaireMasseur}" />
							</span>
						</div>
					</b:column>
				</b:row>
				<b:row styleClass="show-grid">
					<b:column col-xs="6" col-sm="4" col-md="4">
						<div class="ui-inputgroup">
							<span> <b:label for="@next" value="Note accueil 0-10" />
								<b:inputText id="noteAccueil" type="number"
									value="#{mbFeedbackMasseur.feedbackMasseur.noteAccueil}" />
							</span>
						</div>
					</b:column>
				</b:row>
				<b:row styleClass="show-grid">
					<b:column col-xs="6" col-sm="4" col-md="4">
						<div class="ui-inputgroup">
							<span> <b:label for="@next" value="Note ambiance 0-10" />
								<b:inputText id="noteAmbiance" type="number"
									value="#{mbFeedbackMasseur.feedbackMasseur.noteAmbiance}" />
							</span>
						</div>
					</b:column>
				</b:row>
				<b:row styleClass="show-grid">
					<b:column col-xs="6" col-sm="4" col-md="4">
						<div class="ui-inputgroup">
							<span> <b:label for="@next" value="Note clientele 0-10" />
								<b:inputText id="noteClientele" type="number"
									value="#{mbFeedbackMasseur.feedbackMasseur.noteClientele}" />
							</span>
						</div>
					</b:column>
				</b:row>
				<b:column col-xs="6" col-sm="6" col-md="4" offset="6">
					<b:commandButton value="Ajouter" icon="pi pi-user-plus"
						style="margin-right:20px;"
						action="#{mbFeedbackMasseur.AjouterFeedbackMasseur()}" />
				</b:column>

				<b:row>
					<b:alert severity="success">
						<strong>Feedback Masseur crée avec succés!</strong>
					</b:alert>
				</b:row>
			</b:form>
		</ui:define>
	</ui:composition>
</h:body>
</html>
