<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:b="http://bootsfaces.net/ui"> 

<h:head></h:head> 

<ui:composition template="#{mbAccount.template}">
	<ui:define name="title">Dashbord</ui:define>
	<ui:define name="CSS"><h:outputStylesheet name="#{mbAccount.cssSheet}"></h:outputStylesheet></ui:define>
	<ui:define name="naving">
				<b:form>
					<b:breadcrumbs>
						<b:navLink icon="home" iconAlign="left" value="Home" href="/AppNomadsWeb/admin/DashbordAdmin.xhtml"></b:navLink>
						<b:navLink icon="plus" iconAlign="left" value="Création d'une prestation" href="/AppNomadsWeb/prestation/newPrestation.xhtml"></b:navLink>
						<b:navLink icon="plus" iconAlign="left" value="Création d'un partenaire" href="/AppNomadsWeb/partenaire/CreationPartenaire.xhtml"></b:navLink>
						<b:navLink icon="plus" iconAlign="left" value="Création d'un Masseur" href="/AppNomadsWeb/masseur/CreationMasseur.xhtml"></b:navLink>
					</b:breadcrumbs>
				</b:form>
	</ui:define>
				<h1>Hello Dashbord Admin</h1>
				
			
		<ui:define name="content_page">
			<b:form>
				<ui:include src="../graphique/ChartJS.xhtml" />
				
			</b:form>
		</ui:define>
</ui:composition>
</html>
