<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:o="http://omnifaces.org/ui"
      xmlns:p="http://primefaces.org/ui"> 

<h:head></h:head> 
<body> 
	<b:tabView activeIndex="0">
	  	<b:tab title="Infos pro">
		  	<h:outputLabel value="Nom entreprise: " />
		    <b:inputText value="#{mbPartenaires.selectedPartenaire.nomCourant}" readonly="true" rendered="#{mbAccount.utilisateur.role == 'Admin'}"></b:inputText>
		    <b:inputText value="#{mbAccount.profilPartenaire.nomCourant}" rendered="#{mbAccount.utilisateur.role == 'Partenaire'}"></b:inputText>
		    <h:outputLabel value="Statut : " /> 
		    <b:inputText value="#{mbPartenaires.selectedPartenaire.raisonSociale}" readonly="true" rendered="#{mbAccount.utilisateur.role == 'Admin'}"></b:inputText>
		    <b:inputText value="#{mbAccount.profilPartenaire.raisonSociale}" rendered="#{mbAccount.utilisateur.role == 'Partenaire'}"></b:inputText>
		    <h:outputLabel value="Date contrat : " />
		    <b:inputText value="#{mbPartenaires.selectedPartenaire.dateCreationPartenaire}" readonly="true" rendered="#{mbAccount.utilisateur.role == 'Admin'}">
		    	<f:convertDateTime dateStyle="short" pattern="dd/MM/yyyy"/>
		    </b:inputText>
		    <b:inputText value="#{mbAccount.profilPartenaire.dateCreationPartenaire}" readonly="true" rendered="#{mbAccount.utilisateur.role == 'Partenaire'}">
		    	<f:convertDateTime dateStyle="short" pattern="dd/MM/yyyy"/>
		    </b:inputText>
		    <h:outputLabel value="Siret : " />
		    <b:inputText value="#{mbPartenaires.selectedPartenaire.numeroSiret}" readonly="true" rendered="#{mbAccount.utilisateur.role == 'Admin'}"></b:inputText>
		    <b:inputText value="#{mbAccount.profilPartenaire.numeroSiret}" rendered="#{mbAccount.utilisateur.role == 'Partenaire'}"></b:inputText>
		    <h:outputLabel value="E-mail : " />
		    <b:inputText value="#{mbPartenaires.selectedPartenaire.adresseMailPersonneContact}" readonly="true" rendered="#{mbAccount.utilisateur.role == 'Admin'}"></b:inputText> 
   		    <b:inputText value="#{mbAccount.profilPartenaire.adresseMailPersonneContact}" rendered="#{mbAccount.utilisateur.role == 'Partenaire'}"></b:inputText> 
   		    <h:outputLabel value="Téléphone 1 : " />
		    <b:inputText value="#{mbPartenaires.selectedPartenaire.telephonePrincipal}" readonly="true" rendered="#{mbAccount.utilisateur.role == 'Admin'}"></b:inputText>
		    <b:inputText value="#{mbAccount.profilPartenaire.telephonePrincipal}" rendered="#{mbAccount.utilisateur.role == 'Partenaire'}"></b:inputText>
		    <h:outputLabel value="Téléphone 2 : " />
		    <b:inputText value="#{mbPartenaires.selectedPartenaire.telephoneSecondaire}" readonly="true" rendered="#{mbAccount.utilisateur.role == 'Admin'}"></b:inputText>    
			<b:inputText value="#{mbAccount.profilPartenaire.telephoneSecondaire}" rendered="#{mbAccount.utilisateur.role == 'Partenaire'}"></b:inputText>    
		</b:tab>
		<b:tab title="Adresse">
			<h:outputLabel value="Adresse 1 : " />
	    	<b:inputText value="#{mbPartenaires.selectedPartenaire.adresseEntity.adresse}" readonly="true" rendered="#{mbAccount.utilisateur.role == 'Admin'}"></b:inputText>
	    	<b:inputText value="#{mbAccount.profilPartenaire.adresseEntity.adresse}" rendered="#{mbAccount.utilisateur.role == 'Partenaire'}"></b:inputText>
	    	<h:outputLabel value="Adresse 2 : " />
	    	<b:inputText value="#{mbPartenaires.selectedPartenaire.adresseEntity.complementAdresse}" readonly="true" rendered="#{mbAccount.utilisateur.role == 'Admin'}"></b:inputText>
	    	<b:inputText value="#{mbAccount.profilPartenaire.adresseEntity.complementAdresse}" rendered="#{mbAccount.utilisateur.role == 'Partenaire'}"></b:inputText>
	    	<h:outputLabel value="Code Postal : " />
	    	<b:inputText value="#{mbPartenaires.selectedPartenaire.adresseEntity.codePostal}" readonly="true" rendered="#{mbAccount.utilisateur.role == 'Admin'}"></b:inputText>
	    	<b:inputText value="#{mbAccount.profilPartenaire.adresseEntity.codePostal}" rendered="#{mbAccount.utilisateur.role == 'Partenaire'}"></b:inputText>
	    	<h:outputLabel value="Ville : " />
	    	<b:inputText value="#{mbPartenaires.selectedPartenaire.adresseEntity.ville}" readonly="true" rendered="#{mbAccount.utilisateur.role == 'Admin'}"></b:inputText>
  			<b:inputText value="#{mbAccount.profilPartenaire.adresseEntity.ville}" rendered="#{mbAccount.utilisateur.role == 'Partenaire'}"></b:inputText>
  		</b:tab>
  		<b:tab title="Contact 1">
	  		<h:outputLabel value="Nom contact : " />
	    	<b:inputText value="#{mbPartenaires.selectedPartenaire.personneContact}" readonly="true" rendered="#{mbAccount.utilisateur.role == 'Admin'}"></b:inputText>
	    	<b:inputText value="#{mbAccount.profilPartenaire.personneContact}" rendered="#{mbAccount.utilisateur.role == 'Partenaire'}"></b:inputText>
	    	<h:outputLabel value="Téléphone 1 : " />
	    	<b:inputText value="#{mbPartenaires.selectedPartenaire.telephonePrincipal}" readonly="true" rendered="#{mbAccount.utilisateur.role == 'Admin'}"></b:inputText>
	    	<b:inputText value="#{mbAccount.profilPartenaire.telephonePrincipal}" rendered="#{mbAccount.utilisateur.role == 'Partenaire'}"></b:inputText>
	    	<h:outputLabel value="Téléphone 2 : " />
	    	<b:inputText value="#{mbPartenaires.selectedPartenaire.telephoneSecondaire}" readonly="true" rendered="#{mbAccount.utilisateur.role == 'Admin'}"></b:inputText>
	    	<b:inputText value="#{mbAccount.profilPartenaire.telephoneSecondaire}" rendered="#{mbAccount.utilisateur.role == 'Partenaire'}"></b:inputText>
	    	<h:outputLabel value="Adresse mail contact : " />
	  		<b:inputText value="#{mbPartenaires.selectedPartenaire.adresseMailPersonneContact}" readonly="true" rendered="#{mbAccount.utilisateur.role == 'Admin'}"></b:inputText>
 	 		<b:inputText value="#{mbAccount.profilPartenaire.adresseMailPersonneContact}" rendered="#{mbAccount.utilisateur.role == 'Partenaire'}"></b:inputText>
 	 	</b:tab>
  		<b:tab title="Contact 2">
	    	<h:outputLabel value="Nom contact : " />
	    	<b:inputText value="" readonly="true">
	    		<!-- <f:convertDateTime dateStyle="short" pattern="dd/MM/yyyy"/>-->
	    	</b:inputText>
	    	<h:outputLabel value="Téléphone 1 : " />
	    	<b:inputText value="" readonly="true"></b:inputText>
	    	<h:outputLabel value="Téléphone 2 : " />
	    	<b:inputText value="" readonly="true"></b:inputText>
	    	<h:outputLabel value="Adresse mail contact : " />
	  		<b:inputText value="" readonly="true"></b:inputText>
  		</b:tab>
  		  		<b:tab title="Historique d'activité">
	    		<b:dataTable value="#{mbPartenaires.listeHistoriqueActivite}" var="activite"   rendered="#{mbAccount.utilisateur.role == 'Admin'}">
			    <b:dataTableColumn value="#{activite.dateDebutActivite}" order="desc" label="Date de début" />
			    <b:dataTableColumn value="#{activite.dateFinActivite}" label="Date de fin"/>
			  </b:dataTable>
	    		<b:dataTable value="#{mbAccount.listeHistoriqueActivitePartenaire}" var="activite"  rendered="#{mbAccount.utilisateur.role == 'Partenaire'}">
			    <b:dataTableColumn value="#{activite.dateDebutActivite}" order="desc" label="Date de début" />
			    <b:dataTableColumn value="#{activite.dateFinActivite}" label="Date de fin"/>
			  </b:dataTable>
  		</b:tab>
</b:tabView>
</body> 
</html>
