<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:o="http://omnifaces.org/ui"
      xmlns:p="http://primefaces.org/ui"> 

<h:head></h:head> 
<body> 
	<b:tabView activeIndex="0">
	  	<b:tab title="Profil">
		  	<h:outputLabel value="Nom : " />
		    <b:inputText value="#{mbMasseurs.selectedMasseur.nom}" readonly="true"  rendered="#{mbAccount.utilisateur.role == 'Admin'}"></b:inputText>
		    <b:inputText value="#{mbAccount.profilMasseur.nom}" rendered="#{mbAccount.utilisateur.role == 'Masseur'}"></b:inputText>
		    <h:outputLabel value="Prénom : " /> 
		    <b:inputText value="#{mbMasseurs.selectedMasseur.prenom}" readonly="true" rendered="#{mbAccount.utilisateur.role == 'Admin'}"></b:inputText>
		    <b:inputText value="#{mbAccount.profilMasseur.prenom}" rendered="#{mbAccount.utilisateur.role == 'Masseur'}"></b:inputText>
		    <h:outputLabel value="DateNaissance : " />
		    <b:inputText value="#{mbMasseurs.selectedMasseur.dateDeNaissance}" readonly="true" rendered="#{mbAccount.utilisateur.role == 'Admin'}">
		    	<f:convertDateTime dateStyle="short" pattern="dd/MM/yyyy"/>
		    </b:inputText>
		    <b:inputText value="#{mbAccount.profilMasseur.dateDeNaissance}" readonly="true" rendered="#{mbAccount.utilisateur.role == 'Masseur'}">
		    	<f:convertDateTime dateStyle="short" pattern="dd/MM/yyyy"/>
		    </b:inputText>
		    <h:outputLabel value="Téléphone principal : " />
		    <b:inputText value="#{mbAccount.profilMasseur.telPrincipal}" rendered="#{mbAccount.utilisateur.role == 'Masseur'}"></b:inputText>
		    <b:inputText value="#{mbMasseurs.selectedMasseur.telPrincipal}" readonly="true" rendered="#{mbAccount.utilisateur.role == 'Admin'}"></b:inputText>
		    <h:outputLabel value="Téléphone secondaire : " />
		    <b:inputText value="#{mbMasseurs.selectedMasseur.telSecondaire}" readonly="true" rendered="#{mbAccount.utilisateur.role == 'Admin'}"></b:inputText>
		    <b:inputText value="#{mbAccount.profilMasseur.telSecondaire}" rendered="#{mbAccount.utilisateur.role == 'Masseur'}"></b:inputText>
		    <h:outputLabel value="E-mail : " />
		    <b:inputText value="#{mbMasseurs.selectedMasseur.adresseMail}" readonly="true" rendered="#{mbAccount.utilisateur.role == 'Admin'}"></b:inputText>   
			<b:inputText value="#{mbAccount.profilMasseur.adresseMail}" rendered="#{mbAccount.utilisateur.role == 'Masseur'}"></b:inputText>
		</b:tab>
		<b:tab title="Adresse">
			<h:outputLabel value="Adresse 1 : " />
	    	<b:inputText value="#{mbMasseurs.selectedMasseur.adresseEntity.adresse}" readonly="true" rendered="#{mbAccount.utilisateur.role == 'Admin'}"></b:inputText>
	    	<b:inputText value="#{mbAccount.profilMasseur.adresseEntity.adresse}" rendered="#{mbAccount.utilisateur.role == 'Masseur'}"></b:inputText>
	    	<h:outputLabel value="Adresse 2 : " />
	    	<b:inputText value="#{mbMasseurs.selectedMasseur.adresseEntity.complementAdresse}" readonly="true" rendered="#{mbAccount.utilisateur.role == 'Admin'}"></b:inputText>
	    	<b:inputText value="#{mbAccount.profilMasseur.adresseEntity.complementAdresse}" rendered="#{mbAccount.utilisateur.role == 'Masseur'}"></b:inputText>
	    	<h:outputLabel value="Code Postal : " />
	    	<b:inputText value="#{mbMasseurs.selectedMasseur.adresseEntity.codePostal}" readonly="true" rendered="#{mbAccount.utilisateur.role == 'Admin'}"></b:inputText>
	    	<b:inputText value="#{mbAccount.profilMasseur.adresseEntity.codePostal}" rendered="#{mbAccount.utilisateur.role == 'Masseur'}"></b:inputText>
	    	<h:outputLabel value="Ville : " />
	    	<b:inputText value="#{mbMasseurs.selectedMasseur.adresseEntity.ville}" readonly="true" rendered="#{mbAccount.utilisateur.role == 'Admin'}"></b:inputText>
  			<b:inputText value="#{mbAccount.profilMasseur.adresseEntity.ville}" rendered="#{mbAccount.utilisateur.role == 'Masseur'}"></b:inputText>
  		</b:tab>
  		<b:tab title="Infos pro">
	  		<h:outputLabel value="Date d'embauche : " />
	    	<b:inputText value="#{mbConsulterMasseur.selectedMasseur.dateEmbauche}" readonly="true" rendered="#{mbAccount.utilisateur.role == 'Admin'}">
	    		<f:convertDateTime dateStyle="short" pattern="dd/MM/yyyy"/>
	    	</b:inputText>
	    	<b:inputText value="#{mbAccount.profilMasseur.dateEmbauche}" readonly="true" rendered="#{mbAccount.utilisateur.role == 'Masseur'}">
	    		<f:convertDateTime dateStyle="short" pattern="dd/MM/yyyy"/>
	    	</b:inputText>
	    	<h:outputLabel value="Raison sociale : " />
	  		<b:inputText value="#{mbMasseurs.selectedMasseur.raisonSociale}" readonly="true" rendered="#{mbAccount.utilisateur.role == 'Admin'}"></b:inputText>
	    	<b:inputText value="#{mbAccount.profilMasseur.raisonSociale}" rendered="#{mbAccount.utilisateur.role == 'Masseur'}"></b:inputText>
	    	<h:outputLabel value="SIRET : " />
	    	<b:inputText value="#{mbMasseurs.selectedMasseur.siret}" readonly="true" rendered="#{mbAccount.utilisateur.role == 'Admin'}"></b:inputText>
	    	<b:inputText value="#{mbAccount.profilMasseur.siret}" rendered="#{mbAccount.utilisateur.role == 'Masseur'}"></b:inputText>
	    	<h:outputLabel value="BIC : " />
	    	<b:inputText value="#{mbMasseurs.selectedMasseur.codeBIC}" readonly="true" rendered="#{mbAccount.utilisateur.role == 'Admin'}"></b:inputText>
	    	<b:inputText value="#{mbAccount.profilMasseur.codeBIC}" rendered="#{mbAccount.utilisateur.role == 'Masseur'}"></b:inputText>
	    	<h:outputLabel value="IBAN : " />
	    	<b:inputText value="#{mbMasseurs.selectedMasseur.codeIBAN}" readonly="true" rendered="#{mbAccount.utilisateur.role == 'Admin'}"></b:inputText>
	    	<b:inputText value="#{mbAccount.profilMasseur.codeIBAN}" rendered="#{mbAccount.utilisateur.role == 'Masseur'}"></b:inputText>
 	 	</b:tab>
  		<b:tab title="Préférences">
	    	<b:dataTable value="#{mbMasseurs.listePreferences}" var="preference" rendered="#{mbAccount.utilisateur.role == 'Admin'}">
			    <b:dataTableColumn value="#{preference.dateDebutChoix}" order="desc" label="Date de début" />
			    <b:dataTableColumn value="#{preference.dateFinChoix}" label="Date de fin"/>
			    <b:dataTableColumn value="#{preference.heureDebut}" label="Heure de début"/>
			    <b:dataTableColumn value="#{preference.heureFin}"  label="Heure de fin"/>
			    <b:dataTableColumn value="#{preference.numeroDuJour}" label="Jour"/>
			    <b:dataTableColumn value="#{preference.astreinte}"/>
			</b:dataTable>
			<b:dataTable value="#{mbAccount.listePreferences}" var="preference" rendered="#{mbAccount.utilisateur.role == 'Masseur'}">
			    <b:dataTableColumn value="#{preference.dateDebutChoix}" order="desc" label="Date de début" />
			    <b:dataTableColumn value="#{preference.dateFinChoix}" label="Date de fin"/>
			    <b:dataTableColumn value="#{preference.heureDebut}" label="Heure de début"/>
			    <b:dataTableColumn value="#{preference.heureFin}"  label="Heure de fin"/>
			    <b:dataTableColumn value="#{preference.numeroDuJour}" label="Jour"/>
			    <b:dataTableColumn value="#{preference.astreinte}"/>
			</b:dataTable>
  		</b:tab>
  		  <b:tab title="Historique d'activité">
	    	<b:dataTable value="#{mbMasseurs.listeHistoriqueActiviteMasseur}" var="activite"   rendered="#{mbAccount.utilisateur.role == 'Admin'}">
			    <b:dataTableColumn value="#{activite.dateDebutActivite}" order="desc" label="Date de début" />
			    <b:dataTableColumn value="#{activite.dateFinActivite}" label="Date de fin"/>
			</b:dataTable>
	    	<b:dataTable value="#{mbAccount.listeHistoriqueActiviteMasseur}" var="activite"  rendered="#{mbAccount.utilisateur.role == 'Masseur'}">
			    <b:dataTableColumn value="#{activite.dateDebutActivite}" order="desc" label="Date de début" />
			    <b:dataTableColumn value="#{activite.dateFinActivite}" label="Date de fin"/>
			</b:dataTable>
  		</b:tab>
</b:tabView>
</body> 
</html>
