<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:b="http://bootsfaces.net/ui" xmlns:p="http://primefaces.org/ui">


<ui:composition template="#{mbAccount.template}">
	<ui:define name="title">Création partenaire</ui:define>
	<ui:define name="CSS">
		<style type="text/css">
			body .ui-staticmessage.ui-message {
				width: 100%;
			}
		</style>
	</ui:define>
	<ui:define name="naving">
		<b:form>
			<b:breadcrumbs>
				<b:navLink icon="home" iconAlign="left" value="Home" href="/AppNomadsWeb/admin/DashbordAdmin.xhtml"></b:navLink>
				<b:navLink icon="list" iconAlign="left" value="Liste des Partenaires" href="/AppNomadsWeb/partenaire/ListePartenaires.xhtml"></b:navLink>
				<b:navLink icon="plus" iconAlign="left" value="Création d'un Partenaire" href="/AppNomadsWeb/partenaire/CreationPartenaire.xhtml"></b:navLink>
			</b:breadcrumbs>
		</b:form>
	</ui:define>
	<ui:define name="content_page">
	<h1>Création d'un nouveau partenaire</h1>
		<b:form>
			<b:row styleClass="show-grid" >
					<b:column col-xs="6" col-sm="4" col-md="4">
					<div class="ui-inputgroup">
						<span> <b:label for="@next" value="TypePartenaire" /> <b:selectOneMenu
								id="typePartenaire" value="#{mbCreationPartenaire.partenaire.typePartenaireEntity}"
								converter="omnifaces.SelectItemsConverter" style="width:300px">
								<f:selectItem itemLabel="Choisir type partenaire" itemValue=""
									noSelectionOption="true" />
								<f:selectItems value="#{mbCreationPartenaire.listeTypePartenaire}"
									var="typePartenaire" itemLabel="#{typePartenaire.libelle}" itemValue="#{typePartenaire}" />
							</b:selectOneMenu>
						</span>
					</div>
				</b:column>
			</b:row>
			<b:row styleClass="show-grid">
				<b:column col-xs="6" col-sm="4" col-md="4">
					<div class="ui-inputgroup">
						<span> <b:label for="@next" value="Nom courant" /> <b:inputText
								id="float-nomCourant" value="#{mbCreationPartenaire.partenaire.nomCourant}" 
								onchange="creerIdentifiants()"/>
						</span>
					</div>
				</b:column>
				<b:column col-xs="6" col-sm="4" col-md="4">
					<div class="ui-inputgroup">
						<span> <b:label for="@next" value="Personne contact" /> <b:inputText
								id="float-personneContact" value="#{mbCreationPartenaire.partenaire.personneContact}"/>
						</span>
					</div>
				</b:column>

			</b:row>
			<b:row styleClass="show-grid">
				<b:column col-xs="6" col-sm="4" col-md="4">
					<div class="ui-inputgroup">
						<span> <b:label for="@next" value="Raison Sociale" /> <b:inputText
								id="float-raison-sociale"
								value="#{mbCreationPartenaire.partenaire.raisonSociale}" />
						</span>
					</div>
				</b:column>
				<b:column col-xs="6" col-sm="4" col-md="4">
					<div class="ui-inputgroup">
						<span> <b:label for="@next" value="SIRET" /> <b:inputText
								id="float-siret" value="#{mbCreationPartenaire.partenaire.numeroSiret}" />
						</span>
					</div>
				</b:column>
			</b:row>
			<b:row styleClass="show-grid">
				<b:column col-xs="6" col-sm="4" col-md="4">
					<div class="ui-inputgroup">
						<span> <b:label for="@next" value="Code IBAN" /> <b:inputText
								id="float-iban" value="#{mbCreationPartenaire.partenaire.codeIban}" />
						</span>
					</div>
				</b:column>
				<b:column col-xs="6" col-sm="4" col-md="4">
					<div class="ui-inputgroup">
						<span> <b:label for="@next" value="Code BIC" /> <b:inputText
								id="float-bic" value="#{mbCreationPartenaire.partenaire.codeBic}" />
						</span>
					</div>
				</b:column>
			</b:row>
			<b:row styleClass="show-grid">
				<b:column col-xs="6" col-sm="4" col-md="4">
					<div class="ui-inputgroup">
						<span> <b:label for="@next" value="Téléphone 1" /> <b:inputText
								id="float-tel-principal"
								value="#{mbCreationPartenaire.partenaire.telephonePrincipal}" />
						</span>
					</div>
				</b:column>
				<b:column col-xs="6" col-sm="4" col-md="4">
					<div class="ui-inputgroup">
						<span> <b:label for="@next" value="Téléphone 2" /> <b:inputText
								id="float-tel-secondaire"
								value="#{mbCreationPartenaire.partenaire.telephoneSecondaire}" />
						</span>
					</div>
				</b:column>
			</b:row>
			<b:row styleClass="show-grid">
				<b:column col-xs="6" col-sm="4" col-md="4">
					<div class="ui-inputgroup">
						<span> <b:label for="@next" value="N°TVA" /> <b:inputText
								id="float-numTva"
								value="#{mbCreationPartenaire.partenaire.ntvaIntracommunautaire}" />
						</span>
					</div>
				</b:column>
			
			</b:row>
			<b:row styleClass="show-grid">
				<b:column col-xs="6" col-sm="4" col-md="4">
					<div class="ui-inputgroup">
						<span> <b:label for="@next" value="Adresse 1" /> <b:inputText
								id="float-adresse1"
								value="#{mbCreationPartenaire.adresseEntity.adresse}" />
						</span>
					</div>
				</b:column>
				<b:column col-xs="6" col-sm="4" col-md="4">
					<div class="ui-inputgroup">
						<span> <b:label for="@next" value="Adresse 2" /> <b:inputText
								id="float-adresse2"
								value="#{mbCreationPartenaire.adresseEntity.complementAdresse}" />
						</span>
					</div>
				</b:column>
			</b:row>
			<b:row styleClass="show-grid">
				<b:column col-xs="6" col-sm="4" col-md="4">
					<div class="ui-inputgroup">
						<span> <b:label for="@next" value="Code Postal" /> <b:inputText
								id="float-cp"
								value="#{mbCreationPartenaire.adresseEntity.codePostal}" />
						</span>
					</div>
				</b:column>
				<b:column col-xs="6" col-sm="4" col-md="4">
					<div class="ui-inputgroup">
						<span> <b:label for="@next" value="Ville" /> <b:inputText
								id="float-ville"
								value="#{mbCreationPartenaire.adresseEntity.ville}" />
						</span>
					</div>
				</b:column>
			</b:row>
			<b:column col-xs="6" col-sm="6" col-md="4" offset="6">
				<b:commandButton value="Ajouter" icon="pi pi-user-plus"
					style="margin-right:20px;"
					action="#{mbCreationPartenaire.AjouterPartenaire()}" />
			</b:column>
			<b:column col-xs="6" col-sm="6" col-md="4">
			</b:column>

		</b:form>
	</ui:define>
</ui:composition>
</html>