<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:b="http://bootsfaces.net/ui" xmlns:p="http://primefaces.org/ui">

<h:body rendered="#{mbAccount.utilisateur.role == 'Partenaire'}">
	<ui:composition template="#{mbAccount.template}">
		<ui:define name="title">Feedback partenaire</ui:define>
		<ui:define name="CSS">
			<style type="text/css">
body .ui-staticmessage.ui-message {
	width: 100%;
}
</style>
		</ui:define>
		<ui:define name="naving">
			<b:form>
				<b:breadcrumbs>
					<b:navLink icon="home" iconAlign="left" value="Home"
						href="/AppNomadsWeb/masseur/DashbordPartenaire.xhtml"></b:navLink>
					<b:navLink value="Feedback partenaire"
						href="/AppNomadsWeb/partenaire/FeedbackPartenaire.xhtml"></b:navLink>

				</b:breadcrumbs>
			</b:form>
		</ui:define>
		<ui:define name="content_page">
			<h1>Feedback d'un masseur</h1>
			<b:form>
				<b:row styleClass="show-grid">
					<b:column col-xs="6" col-sm="4" col-md="4">
						<div class="ui-inputgroup">
							<h2>#{mbFeedbackPartenaire.selectedPrestation.libelle}</h2>

						</div>
					</b:column>
				</b:row>
<!-- 				<b:row styleClass="show-grid"> -->
<!-- 					<b:column col-xs="6" col-sm="4" col-md="4"> -->
<!-- 						<div class="ui-inputgroup"> -->
<!-- 							<span> <b:label for="@next" value="Chiffre d'affaire" /> -->
<!-- 								<b:inputText id="float-chiffreAffaire" type="number" -->
<!-- 									value="" /> -->
<!-- 							</span> -->
<!-- 						</div> -->
<!-- 					</b:column> -->
<!-- 				</b:row> -->
				<b:row styleClass="show-grid">
					<b:column col-xs="6" col-sm="4" col-md="4">
						<div class="ui-inputgroup">
							<span> <b:label for="@next" value="Commentaire" /> <b:inputText
									id="float-commentaire"
									value="#{mbFeedbackPartenaire.feedbackPartenaire.commentairePartenaire}" />
							</span>
						</div>
					</b:column>
				</b:row>
				<b:row styleClass="show-grid">
					<b:column col-xs="6" col-sm="4" col-md="4">
						<div class="ui-inputgroup">
							<span> <b:label for="@next" value="Note Ponctualité 0-10" />
								<b:inputText id="notePonctualite" type="number"
									value="#{mbFeedbackPartenaire.feedbackPartenaire.notePonctualite}" />
							</span>
						</div>
					</b:column>
				</b:row>
				<b:row styleClass="show-grid">
					<b:column col-xs="6" col-sm="4" col-md="4">
						<div class="ui-inputgroup">
							<span> <b:label for="@next" value="Note Qualité 0-10" />
								<b:inputText id="noteAmbiance" type="number"
									value="#{mbFeedbackPartenaire.feedbackPartenaire.noteQualiteMassage}" />
							</span>
						</div>
					</b:column>
				</b:row>
				<b:row styleClass="show-grid">
					<b:column col-xs="6" col-sm="4" col-md="4">
						<div class="ui-inputgroup">
							<span> <b:label for="@next" value="Note Relationnel 0-10" />
								<b:inputText id="noteRelationnel" type="number"
									value="#{mbFeedbackPartenaire.feedbackPartenaire.noteRelationnel}" />
							</span>
						</div>
					</b:column>
					#{mbFeedbackPartenaire.selectedPrestation.libelle}
				</b:row>
				<b:column col-xs="6" col-sm="6" col-md="4" offset="6">
					<b:commandButton value="Ajouter" icon="pi pi-user-plus"
						style="margin-right:20px;" action="#{mbFeedbackPartenaire.AjouterFeedbackPartenaire()}"
						 />
				</b:column>

				<b:row>
					<b:alert severity="success">
						<strong>#{mbFeedbackPartenaire.selectedPrestation.libelle} Feedback Masseur crée avec succés!</strong>
					</b:alert>
				</b:row>
			</b:form>
		</ui:define>
	</ui:composition>
</h:body>
</html>