<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui" xmlns:b="http://bootsfaces.net/ui">


<h:outputStylesheet name="#{mbAccount.cssSheet}" />
<ui:composition template="#{mbAccount.template}">
	<ui:define name="naving">
		<b:form>
			<b:breadcrumbs>
				<b:navLink icon="home" iconAlign="left" value="Home" href="/AppNomadsWeb/admin/DashbordAdmin.xhtml"></b:navLink>
				<b:navLink icon="list" iconAlign="left" value="Liste des Partenaires" href="/AppNomadsWeb/partenaire/ListePartenaires.xhtml"></b:navLink>
				<b:navLink icon="plus" iconAlign="left" value="Création d'un Partenaire" href="/AppNomadsWeb/partenaire/CreationPartenaire.xhtml"></b:navLink>
			</b:breadcrumbs>
		</b:form>
	</ui:define>
	<ui:define name="content_page">
		<div class="listePartenaire">
			<h1>Liste des Partenaires</h1>

			<h:form>

				<b:dataTable value="#{mbPartenaires.listePartenaires}" var="partenaire">
				
				
					<b:dataTableColumn value="#{partenaire.typePartenaireEntity.libelle}" />
					<b:dataTableColumn value="#{partenaire.nomCourant}" />
					<b:dataTableColumn value="#{partenaire.personneContact}" />
					
					
					<b:dataTableColumn value="" label="Photo"> 
					<h:graphicImage library="pics" name="#{partenaire.photo}" alt="smiley.jpeg" width="100px" />	
					</b:dataTableColumn> 
					
												
						
					<b:dataTableColumn value="#{partenaire.adresseEntity.adresse}" />
					<b:dataTableColumn value="#{partenaire.adresseEntity.ville}" />
					
					<b:dataTableColumn label=" ">
						<b:commandButton value="Voir fiche" iconAwesome="eye" look="info" action="#{mbPartenaires.showPartenaire(partenaire.id)}">
					</b:commandButton>
					</b:dataTableColumn>
				</b:dataTable>
				
			
		

			</h:form>
		</div>
	</ui:define>

</ui:composition>
</html>
