<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui" xmlns:o="http://omnifaces.org/ui"
	xmlns:b="http://bootsfaces.net/ui">


<ui:composition template="#{mbAccount.template}">
	<ui:define name="title">Profil partenaire</ui:define>
	<ui:define name="CSS">
		<h:outputStylesheet name="#{mbAccount.cssSheet}"></h:outputStylesheet>
	</ui:define>
	<ui:define name="naving">
		<b:form rendered="#{mbAccount.utilisateur.role == 'Admin'}">
			<b:breadcrumbs>
				<b:navLink icon="home" iconAlign="left" value="Home" href="/AppNomadsWeb/admin/DashbordAdmin.xhtml"></b:navLink>
				<b:navLink icon="list" iconAlign="left" value="Liste des partenaires" href="/AppNomadsWeb/partenaire/ListePartenaires.xhtml"></b:navLink>
				<b:navLink icon="plus" iconAlign="left" value="Création d'un partenaire" href="/AppNomadsWeb/partenaire/CreationPartenaire.xhtml"></b:navLink>
			</b:breadcrumbs>
		</b:form>
		<b:form rendered="#{mbAccount.utilisateur.role == 'Partenaire'}">
			<b:breadcrumbs>
				<b:navLink icon="home" iconAlign="left" value="Home" href="/AppNomadsWeb/partenaire/DashbordPartenaire.xhtml"></b:navLink>
				<b:navLink icon="list" iconAlign="left" value="Liste des prestations" href="/AppNomadsWeb/partenaire/ListePrestations.xhtml"></b:navLink>
				<b:navLink icon="plus" iconAlign="left" value="Demander une prestation" href="/AppNomadsWeb/partenaire/newPrestation.xhtml"></b:navLink>
			</b:breadcrumbs>
		</b:form>
	</ui:define>
	<ui:define name="content_page">
		<b:form>
			<h4>Profil partenaire</h4>

			<b:row>
				<b:container>
					<b:column col-xs="12" col-md="4">
						<div class="bloc1">
							<ui:include src="/_partial/_partenaire/blocA.xhtml" />
						</div>
					</b:column>
					<b:column col-xs="12" col-md="8">
						<div class="onglets">
							<ui:include src="/_partial/_partenaire/blocB.xhtml" />
						</div>
					</b:column>
				</b:container>
			</b:row>
			<b:row>
				<b:container>
					<b:column col-xs="12" col-md="4">
						<div class="bloc1">
							<h:panelGrid columns="3" rendered="#{mbAccount.utilisateur.role == 'Admin'}">
								<b:commandButton value="Modifier" look="primary" action="#{mbPartenaires.updatePartenaire()}" size="lg"></b:commandButton>
								<b:column></b:column>
								<b:commandButton value="Désactiver" look="danger" size="lg"
									data-target="#amodal" id="atrigger" action="#{mbPartenaires.desactiverPartenaire()}" rendered="#{mbAccount.utilisateur.role == 'Admin'}"></b:commandButton>
							</h:panelGrid>
							<h:panelGrid columns="3" rendered="#{mbAccount.utilisateur.role == 'Partenaire'}">
								<b:commandButton value="Mettre à jour" look="primary" action="#{mbAccount.updatePartenaire()}" size="lg"></b:commandButton>
							</h:panelGrid>
						</div>
					</b:column>
				</b:container>
			</b:row>
		</b:form>
	</ui:define>
</ui:composition>
</html>
