<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:b="http://bootsfaces.net/ui" 
	xmlns:p="http://primefaces.org/ui">

<h:body rendered="#{mbAccount.utilisateur.role == 'Masseur'}">
<ui:composition template="#{mbAccount.template}">
	<ui:define name="title">Location Materiel</ui:define>
	<ui:define name="CSS">
		<style type="text/css">
			body .ui-staticmessage.ui-message {
				width: 100%;
			}
		</style>
	</ui:define>
	<ui:define name="naving">
		<b:form>
			<b:breadcrumbs>
				<b:navLink icon="home" iconAlign="left" value="Home" href="/AppNomadsWeb/masseur/DashbordMasseur.xhtml"></b:navLink>
				<b:navLink value="Location Matériels" href="/AppNomadsWeb/prestation/LocationMateriel.xhtml"></b:navLink>
				<b:navLink icon="euro" value="Achat Mads" href="/AppNomadsWeb/masseur/AchatMads.xhtml"></b:navLink>
			</b:breadcrumbs>
		</b:form>
	</ui:define>
	<ui:define name="content_page">
	<b:form>
			<h1>Emprunt matériels</h1>

		<b:row styleClass="show-grid">
				<b:column col-xs="6" col-sm="4" col-md="4">
					<div class="ui-inputgroup">
						<span> <b:label for="@next" value="Materiel" /> <b:selectOneMenu
								id="materiel" value="#{mbLocationMateriel.materiel}"
								converter="omnifaces.SelectItemsConverter" style="width:150px">
								<f:selectItem itemLabel="Choisir materiel" itemValue=""
									noSelectionOption="true" />
								<f:selectItems value="#{mbLocationMateriel.listeMateriel}"
									var="materiel" itemLabel="#{materiel.libelle}" itemValue="#{materiel}" />
							</b:selectOneMenu>
						</span>
					</div>
				</b:column>
				<b:column col-xs="6" col-sm="4" col-md="4">
					<div class="ui-inputgroup">
						<span> <b:label for="@next" value="Quantité" /> <b:inputText type="number" 
								id="float-quantite" value="#{mbLocationMateriel.empruntMateriel.quantite}" />
						</span>
					</div>
				</b:column>
			</b:row>
			
			<b:row styleClass="show-grid">

			<b:column col-xs="6" col-sm="4" col-md="4">
					<div class="ui-inputgroup">
						<span> <b:label for="@next" value="Date d'emprunt" /> <b:inputText
								id="date-d-emprunt"
								value="#{mbLocationMateriel.dateDebutEmprunt}" showIcon="true"
								type="date" pattern="dd/MM/yyyy" />

						</span>
					</div>
				</b:column>
				<b:column col-xs="6" col-sm="4" col-md="4">
					<div class="ui-inputgroup">
						<span> <b:label for="@next" value="Date de restitution" /> <b:inputText
								id="date-de-restitution"
								value="#{mbLocationMateriel.dateFinEmprunt}" showIcon="true"
								type="date" pattern="dd/MM/yyyy" />

						</span>
					</div>
				</b:column>


			</b:row>
			
				<b:column col-xs="6" col-sm="6" col-md="4" offset="6">
				<b:commandButton value="Emprunter" icon="pi pi-user-plus" style="margin-right:20px;"
					action="#{mbLocationMateriel.AjouterMateriel()}" />
			</b:column>
			
			
			<!-- pour sauter une ligne avant tableau -->
			<b:row>
			<b:column>
			<br></br>
			</b:column>
			<br></br>
			</b:row>


					<!-- <b:dataTable value="#{mbPrestation.prestations}" var="presta" order="asc" >
					<b:dataTableColumn value="#{presta.idPrestation}" order="asc"  />
					<b:dataTableColumn value="#{presta.libelle}" order="asc" />
					<b:dataTableColumn value="#{presta.datePrestation}" order="asc"  />

    <b:dataTableColumn>
      <b:commandButton value="edit" icon="edit" ajax="true" update="@(.editableCarTable)"
                       onclick="ajax:car.edit(); javascript:return false;" >
      </b:commandButton>
 
    </b:dataTableColumn>
              <b:dataTableColumn>
      <b:commandButton value="change color" iconAwesome="paint-brush"
                       onclick="ajax:carPool.changeColor(car);javascript:return false;"
                       update="@(.editableCarTable)">
      </b:commandButton>
    </b:dataTableColumn>
     
    <b:dataTableColumn>
      <b:commandButton value="Delete" iconAwesome="trash"
                       action="#{carPool.delete(car)}">
        <f:ajax execute="@this" render="@form" />
      </b:commandButton>
    </b:dataTableColumn>
  </b:dataTable>


 -->
		</b:form>
	</ui:define>
</ui:composition>
</h:body>
</html>





	
