<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui" xmlns:b="http://bootsfaces.net/ui"
	xmlns:o="http://omnifaces.org/ui">

<ui:composition template="#{mbAccount.template}">
	<ui:define name="title"
		rendered="#{mbAccount.utilisateur.role == 'Admin'}">Création prestation</ui:define>
	<ui:define name="title"
		rendered="#{mbAccount.utilisateur.role == 'Partenaire'}">Demander une prestation</ui:define>
	<ui:define name="naving">
		<b:form>
			<b:breadcrumbs>
				<f:facet name="root">
					<b:iconAwesome value="fa-house" />
			Home
			</f:facet>
				<b:navLink value="Liste des Prestation"
					href="/AppNomadsWeb/prestation/ListePrestation.xhtml"></b:navLink>
				<b:navLink value="Création d'une Prestation"
					href="/AppNomadsWeb/prestation/newPrestation.xhtml"></b:navLink>
			</b:breadcrumbs>
		</b:form>
	</ui:define>
	<ui:define name="content_page">
		<h1>Formulaire de création d'une prestation</h1>
		<b:form>
<!-- 			<h:form> -->
				<b:tabView tabPosition="left"
					contentStyle="border: 1px solid #ddd; padding:10px">
					<b:tab title="Info de la Prestation">
					<b:row styleClass="show-grid">
					<b:column offset="4" col-xs="6" col-sm="6" col-md="6">
								<div class="ui-inputgroup">
									<span> <b:label for="@next" value="Type de Paiement" /> <b:selectOneMenu
											id="typePaiement" value="#{mbCreationPrestation.fetchPrestation.typePaiment}"
											converter="omnifaces.SelectItemsConverter"
											style="width:300px"
											onchange="disableTabView()"
											rendered="#{mbAccount.utilisateur.role == 'Admin'}">
											<f:selectItem itemLabel="Choisir type paiement" itemValue=""
												noSelectionOption="true" />
											<f:selectItems value="#{mbCreationPrestation.typePaiment}" var="typePaiement" itemLabel="#{typePaiement.libelle}"
												itemValue="#{typePaiement}" />
										</b:selectOneMenu>

									</span>
								</div>
							</b:column>
					</b:row>
						<b:row styleClass="show-grid">
							<b:column col-xs="6" col-sm="4" col-md="4">
								<div class="ui-inputgroup">
									<span> <b:label for="@next"
											value="Nom de la prestation:" /> <b:inputText
											id="float-libelle"
											value="#{mbCreationPrestation.fetchPrestation.libelle}" />
									</span>
								</div>
							</b:column>
							<b:column col-xs="6" col-sm="4" col-md="4">
								<div class="ui-inputgroup">
									<span> <b:label for="@next" value="Nombre de Masseur" />
										<b:inputText id="nb-Masseur"
											value="#{mbCreationPrestation.nbMasseur}" showIcon="true"
											type="number" />
									</span>
								</div>
							</b:column>
							<b:column col-xs="6" col-sm="4" col-md="4">
								<div class="ui-inputgroup">
									<span> <b:label for="@next" value="Partenaire" /> <b:selectOneMenu
											id="partenaire" value="#{mbCreationPrestation.fetchPrestation.partenaireEntity}"
											converter="omnifaces.SelectItemsConverter"
											style="width:300px"
											rendered="#{mbAccount.utilisateur.role == 'Admin'}">
											<f:selectItem itemLabel="Choisir Partenaire" itemValue=""
												noSelectionOption="true" />
											<f:selectItems value="#{mbCreationPrestation.listPartenaires}" var="partenaire" itemLabel="#{partenaire.nomCourant}"
												itemValue="#{partenaire}" />
										</b:selectOneMenu>

									</span>
								</div>
							</b:column>
						</b:row>
						<!-- Date de prestation et horaire  -->
						<b:row styleClass="show-grid">
							<b:column col-xs="6" col-sm="4" col-md="4">
								<div class="ui-inputgroup">
									<span> <b:label for="@next"
											value="Date de la prestation" /> <b:inputText
											id="date-Prestation"
											value="#{mbCreationPrestation.datePrestation}"
											showIcon="true" type="date" pattern="dd/MM/yyyy" />
									</span>
								</div>
							</b:column>
							<b:column col-xs="6" col-sm="4" col-md="4">
								<div class="ui-inputgroup">
									<span> <b:label for="@next" value="Heure debut" /> <b:inputText
											id="heure-debut-Prestation"
											value="#{mbCreationPrestation.heureDebut}" showIcon="true"
											type="time" pattern="hh:mm" />
									</span>
								</div>
							</b:column>
							<b:column col-xs="6" col-sm="4" col-md="4">
								<div class="ui-inputgroup">
									<span> <b:label for="@next" value="Heure de fin" /> <b:inputText
											id="heure-fin-Prestation"
											value="#{mbCreationPrestation.heureFin}" showIcon="true"
											type="time" pattern="hh:mm" />
									</span>
								</div>
							</b:column>
						</b:row>
					
					<!-- Lieu de la prestation-->
					
						<b:row styleClass="show-grid">
							<b:column col-xs="6" col-sm="6" col-md="4">
								<div class="ui-inputgroup">
									<span> <b:label for="@next"
											value="Adresse de la Presation" /> <b:inputText
											id="adress-Prestation"
											value="#{mbCreationPrestation.adresse.adresse}"
											showIcon="true" type="text" pattern="1 rue moulin" />
									</span>
								</div>
							</b:column>
							<b:column col-xs="6" col-sm="6" col-md="4">
								<div class="ui-inputgroup">
									<span> <b:label for="@next" value="Complément d'adresse" /> <b:inputText
											id="complement-adress-Prestation"
											value="#{mbCreationPrestation.adresse.complementAdresse}" showIcon="true"
											type="text" pattern="escalier 10" />
									</span>
								</div>
							</b:column>
							<b:column col-xs="6" col-sm="6" col-md="2">
								<div class="ui-inputgroup">
									<span> <b:label for="@next" value="Ville" /> <b:inputText
											id="ville-Prestation"
											value="#{mbCreationPrestation.adresse.ville}" showIcon="true"
											type="text" pattern="Paris" />
									</span>
								</div>
							</b:column>
							<b:column col-xs="6" col-sm="6" col-md="2">
								<div class="ui-inputgroup">
									<span> <b:label for="@next" value="Code Postal" /> <b:inputText
											id="code-postal-Prestation"
											value="#{mbCreationPrestation.adresse.codePostal}" showIcon="true"
											type="text" pattern="75020" />
									</span>
								</div>
							</b:column>
						</b:row>
					</b:tab>
					<!-- Prestation bar -->
					<b:tab title="Prestation de type Bar/resto">
					<b:row styleClass="show-grid">
							<b:column col-xs="6" col-sm="6" col-md="4">
								<div class="ui-inputgroup">
									<span> <b:label for="@next"
											value="Duree de la réccurence" /> <b:inputText
											id="reccurence-Prestation"
											value="#{mbCreationPrestation.reccurence.dureeReccurence}"
											showIcon="true" type="number" pattern="1 rue moulin" />
									</span>
								</div>
							</b:column>
							<b:column col-xs="6" col-sm="6" col-md="4">
								<div class="ui-inputgroup">
									<span> <b:label for="@next" value="Ecart des réccurences" /> <b:inputText
											id="ecart-reccurence-Prestation"
											value="#{mbCreationPrestation.reccurence.ecartReccurence}" showIcon="true"
											type="number" pattern="escalier 10" />
									</span>
								</div>
							</b:column>
							<b:column col-xs="6" col-sm="6" col-md="4">
								<div class="ui-inputgroup">
									<span> <b:label for="@next" value="Cout de l'inscription" /> <b:inputText
											id="cout-Inscription"
											value="#{mbCreationPrestation.fetchPrestation.coutsInscription}" showIcon="true"
											type="number" pattern="Paris" />
									</span>
								</div>
							</b:column>
							
						</b:row>
					</b:tab>
					<b:tab title="Prestation de type Entreprise / Evénementielle">
					</b:tab>

				</b:tabView>
<!-- 			</h:form> -->



			<!-- boutons -->
			<b:column col-xs="6" col-sm="6" col-md="4" offset="4">
				<b:commandButton value="Ajouter" icon="pi pi-user-plus"
					style="margin-right:20px;"
					action="#{mbCreationPrestation.createNewPrestation()}" rendered="#{mbAccount.utilisateur.role == 'Admin'}" />
				<b:commandButton value="Demander" icon="pi pi-user-plus"
				style="margin-right:20px;"
				action="#{mbCreationPrestation.demanderPrestation()}" rendered="#{mbAccount.utilisateur.role == 'Partenaire'}" />
			</b:column>
			
			

		</b:form>
	</ui:define>

</ui:composition>
</html>
