<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui" xmlns:b="http://bootsfaces.net/ui">



<h:outputStylesheet name="CSS/adminstyle.css" />
<ui:composition template="#{mbAccount.template}">

	<ui:define name="content_page">
		<div class="dashboardAdmin">
			<h1>Dashboard </h1>

			<h:form>
				<!-- ligne des totaux -->
				<b:row>
					<b:column col-xs="5" span="3" style="background-color:#33ffc7;"
						class="infoCA text_center">
						<div align="center">
							<h4>Total masseurs</h4>
							<h:outputLabel value="#{mbChartJS.nbMasseur}" />
						</div>

					</b:column>
					<b:column col-xs="5" span="3" style="background-color:#f08d07;"
						class="infoCA text_center">

						<div align="center">
							<h4>Total partenaires</h4>
							<h:outputLabel value="#{mbChartJS.nbPartenaire}" />
						</div>

					</b:column>
					<b:column col-xs="5" span="3" style="background-color:#33d1ff;"
						class="infoCA text_center">

						<div align="center">
							<h4>Total prestations</h4>
							<h:outputLabel value="#{mbChartJS.nbPrestation}" />
						</div>

					</b:column>
					<b:column col-xs="5" span="3" style="background-color:#49ff33;"
						class="infoCA text_center">

						<div align="center">
							<h4>Total CA</h4>
							<h:outputLabel value="1800" />
						</div>

					</b:column>
				</b:row>

				<!-- graphique bar -->
				<script type="text/javascript">
            //<![CDATA[
            function exportChart() {
                //export image
                $('#output').empty().append(PF('chart').exportAsImage());
 
                //show the dialog
                PF('dlg').show();
            }
            //]]>
        </script>

				<p:barChart model="#{mbChartJS.barModel2}"
					style="width: 100%; height: 500px;" widgetVar="chart" />
				<br />

				<p:commandButton type="button" value="Export" icon="pi pi-home"
					onclick="exportChart()" />

				<p:dialog widgetVar="dlg" showEffect="fade" modal="true"
					header="Chart as an Image" resizable="false">
					<p:outputPanel id="output" layout="block"
						style="width:500px;height:300px" />
				</p:dialog>


			</h:form>
		</div>
	</ui:define>

</ui:composition>
</html>
